@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-blue-color: #2b2d42;
  --main-background-color: #ecf0f5;
  --blue-text-color: #516170;
  --lighter-blue-text-color: #748899;
  --purple-text-color: #a1a3c0;
  --light-purple-color: #d1d3f1;
  --white-color: #fbfbfb;
  --shadow-color-blue: #6784bb;
  --grey-text-color: #c9d7e3;
  --grey-text-color-2: #748899;
  --grey-text-color-3: #647380;
  --simple-short-transition: all 0.3s ease-in-out;
}

body {
  font-family: Overpass, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: var(--main-background-color);
}

.no-scroll {
  overflow: hidden;
}

/* nav section */
#nav {
  display: flex;
  height: 75px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  background: var(--brand-blue-color);
  user-select: none;
  width: 100%;
  z-index: 1;
  align-items: center;
  transition: all 0.6s cubic-bezier(0.8, 0, 0.2, 1.1);
}

#brand-name {
  font-size: 1.8rem;
  letter-spacing: 2px;
  color: var(--main-background-color);
  font-weight: bolder;
  margin-left: 30px;
  text-decoration: none;
  position: relative;
  top: 2px;
}

.fa-bars,
.fa-angles-up {
  color: var(--purple-text-color);
  font-size: 20px;
  transition: var(--simple-short-transition);
  cursor: pointer;
  display: none;
}

.fa-angles-up {
  position: fixed;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

#brand-name::first-letter {
  color: var(--purple-text-color);
}

.links {
  align-items: center;
  display: inline-flex;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  width: 100%;
  max-width: 1050px;
}

.links a {
  margin: 0 15px;
  color: var(--purple-text-color);
  text-decoration: none;
  font-weight: bold;
  transition: var(--simple-short-transition);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-side-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  gap: 20px;
}

.fa-magnifying-glass {
  color: var(--purple-text-color);
  font-size: 20px;
  transition: var(--simple-short-transition);
}

#pfp {
  width: 40px;
  border-radius: 3px;
}

.links a:hover,
.fa-magnifying-glass:hover {
  color: var(--light-purple-color);
}

#brand-name,
.links a,
.fa-magnifying-glass,
#pfp,
.fa-xmark,
.landing-section h3,
.anime-card {
  cursor: pointer;
}
/* end of nav section */

/* main container */
.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 80%;
  position: relative;
  top: 75px;
  padding-bottom: 30px;
}
/* end of main container */

/* search section */
#search-section {
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  align-items: center;
  width: 60%;
  min-width: 300px;
  height: 42px;
  background: var(--white-color);
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 11px 16px;
  padding-left: 13px;
}

#search-section .fa-magnifying-glass {
  color: var(--grey-text-color);
  font-size: 1rem;
}

#query {
  width: 100%;
  border: none;
  color: var(--grey-text-color-2);
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: transparent;
  padding-left: 20px;
  font-size: 1.1rem;
}

#query::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#query:focus {
  outline: none;
}

.fa-xmark {
  color: var(--grey-text-color);
  transition: var(--simple-short-transition);
}

.fa-xmark:hover {
  color: var(--grey-text-color-2);
}
/* end of search section */

/* landing section content  */
.landing-section,
.query-results {
  width: 100%;
  min-width: 300px;
  margin: 40px 0;
}

.landing-section h3 {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 1.05rem;
  font-weight: bold;
  color: var(--grey-text-color-3);
  transition: var(--simple-short-transition);
}

.landing-section-media,
.query-results {
  display: grid;
  justify-content: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 185px);
}

.landing-section h3:hover {
  color: var(--brand-blue-color);
}
/* end of landing section content */

/* Anime card styles */
.anime-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.poster {
  width: 185px;
  height: 265px;
  border-radius: 5px;
  transition: var(--simple-short-transition);
}

.title {
  color: var(--grey-text-color-2);
  font-size: 0.875rem;
  font-weight: 600;
  margin-top: 10px;
  max-width: 185px;
  transition: var(--simple-short-transition);
  text-decoration: none;
}

.speech-bubble {
  position: absolute;
  background: var(--white-color);
  border-radius: 6px;
  height: 150px;
  width: 270px;
  left: 108%;
  top: 6px;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition: all 0.2s ease-in;
  padding: 15px;
}

.hide-bubble {
  display: none;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-right-color: var(--white-color);
  border-left: 0;
  margin-top: -7px;
  margin-left: -7px;
}

.anime-card:hover .speech-bubble {
  transform: scaleX(1);
}
/* End of anime card styles */

/* anime details */
.canonical-title {
  color: var(--brand-blue-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.average-rating {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-weight: bold;
}

.poor-avg-rating {
  color: #db2020;
}

.ok-avg-rating {
  color: #ff8e15;
}

.good-avg-rating {
  color: #acb334;
}

.no-rating-yet {
  color: var(--grey-text-color-3);
}

.great-avg-rating {
  color: #69b34c;
}

.media-type {
  font-size: 0.82rem;
  color: var(--grey-text-color-3);
}

.synopsis {
  font-size: 0.8rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  color: var(--lighter-blue-text-color);
  margin-top: 3px;
}

.genres {
  height: 20px;
  position: absolute;
  left: 15px;
  bottom: 18px;
  display: flex;
  justify-content: flex-start;
  gap: 6px;
}

.genre-tag,
.more-details-genre-tag {
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--white-color);
  padding: 9px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
}
/* end of anime details */

/* anime query results */
.query-results {
  margin: 0;
}

.visible {
  visibility: visible;
  margin: 40px 0;
  margin-bottom: 100px;
}

/* end of anime query results */

/* load more button */
#load-more {
  display: block;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  position: fixed;
  left: 50%;
  bottom: 3vh;
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
  transition: var(--simple-short-transition);
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  background: var(--brand-blue-color);
  color: var(--purple-text-color);
  border: none;
  opacity: 0.8;
}

#load-more:active {
  outline: 0;
}

#load-more:hover {
  background: var(--purple-text-color);
  color: var(--brand-blue-color);
  opacity: 1;
}
/* end of load more */

/* back to top */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#back-to-top {
  width: 75px;
  height: 75px;
  cursor: pointer;
  background: var(--brand-blue-color);
  border: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  transform: scale(0);
}

#back-to-top svg {
  fill: white;
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

#back-to-top:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
}

#back-to-top:hover::before {
  color: #fff;
}

#back-to-top:hover svg {
  animation: bounce 1s infinite linear;
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(-50%);
  }
  25% {
    transform: translateX(-50%) translateY(-65%);
  }
  50% {
    transform: translateX(-50%) translateY(-50%);
  }
  75% {
    transform: translateX(-50%) translateY(-35%);
  }
  100% {
    transform: translateX(-50%) translateY(-50%);
  }
}

#back-to-top:focus {
  outline: none;
}
/* end of back to top */

/* anime info overlay */
#overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--main-background-color);
  z-index: 2;
  transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  pointer-events: none;
  overflow-y: auto;
  padding-bottom: 70px;
}

#cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 100%;
  color: transparent;
  cursor: pointer;
  position: relative;
  transition: var(--simple-short-transition);
}

#cover-image:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.3;
}

.anime-info {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
}

#poster-img {
  width: 215px;
  height: auto;
  position: relative;
  transition: var(--simple-short-transition);
  bottom: 100px;
  margin-left: 20px;
}

.poster-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 70px;
  align-items: flex-start;
}

.main-info {
  width: 100%;
  height: 500px;
  margin: 0 auto;
}

#anime-name {
  color: var(--brand-blue-color);
  margin: 10px 0 7px 0;
}

#orig-title {
  color: var(--blue-text-color);
  font-size: 0.93rem;
  font-weight: 600;
  margin: 10px 0;
}

#anime-details {
  font-size: 1rem;
  color: var(--brand-blue-color);
  font-weight: 600;
  margin: 15px 0;
}

#watch-trailer {
  padding: 13px 10px;
  cursor: pointer;
  border: 0;
  background: #a150f1;
  font-family: Montserrat, sans-serif;
  color: var(--white-color);
  font-weight: 500;
  font-size: 0.85rem;
  border-radius: 20px;
  width: 150px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  opacity: 0.95;
}

#watch-trailer:active {
  outline: none;
}

.fa-circle-play {
  margin-left: 5px;
  position: relative;
  top: 0.5px;
}

#anime-description {
  color: var(--blue-text-color);
  font-size: 0.95rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.characters {
  height: 500px;
}

.button {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: var(--white-color);
  font-family: Overpass, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  padding: 5px;
  border-radius: 3px;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease-in-out;
}

.button:active {
  outline: none;
}

.button i {
  color: var(--white-color);
  opacity: 0.7;
  position: relative;
  margin-right: 6px;
  top: 0.5px;
}

#more-details h3 {
  color: var(--brand-blue-color);
  font-size: 1.3rem;
  margin-bottom: 8px;
}

#genres,
#genres ~ div {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--blue-text-color);
}

#genres ~ div {
  padding-top: 10px;
}

#genres ~ div > p:first-of-type {
  font-size: 0.8;
  font-weight: 600;
  color: var(--brand-blue-color);
}

#more-details > div:last-of-type {
  border-bottom: none;
}

#genres > p,
#genres ~ div > p:first-of-type {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--brand-blue-color);
}

#genre-tags {
  display: flex;
  gap: 5px;
}

.more-details-genre-tag {
  border-radius: 20px;
  font-size: 0.8rem;
  background: #a150f1;
  font-weight: 500;
  opacity: 0.95;
  padding-top: 6px;
  padding-bottom: 6px;
}

#start-date,
#end-date,
#episode-duration,
#time-until-next-ep {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--blue-text-color);
}

/* end of anime info overlay */

/* media queries */

/* small screen devices (760px and less) */
@media screen and (max-width: 760px) {
  #nav {
    position: static;
    justify-content: space-between;
    padding: 0 5px;
  }

  .fa-bars {
    display: inline-block;
  }

  .fa-angles-up {
    display: inline-block;
  }

  .links {
    display: block;
    max-width: none;
    background-color: var(--brand-blue-color);
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: fixed;
    transition: all 0.6s ease-in-out;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .links a {
    font-size: 1.5rem;
  }

  .show-drop-down {
    transform: translateY(0);
  }

  .right-side-nav {
    margin: 15px;
  }

  #brand-name {
    margin-left: 10px;
  }

  .container {
    margin: 0;
    top: 0;
    max-width: 100%;
    padding: 0 10px;
  }

  #search-section {
    margin-bottom: 40px;
  }

  .landing-section {
    margin: 0;
    padding-bottom: 40px;
  }

  .query-results,
  .landing-section-media {
    grid-template-columns: repeat(auto-fill, 135px);
    gap: 20px;
  }

  .anime-card {
    width: 135px;
  }

  .poster {
    width: 135px;
    height: 215px;
  }

  #back-to-top {
    height: 50px;
    width: 50px;
  }

  #back-to-top svg {
    width: 20px;
    height: 20px;
  }

  #load-more {
    height: 45px;
    width: 130px;
    bottom: 5vh;
    left: 5vw;
    transform: translate(0%, 0%);
  }

  #cover-image {
    height: 200px;
  }

  #poster-img {
    width: 140px;
    height: auto;
    top: 130px;
  }

  .speech-bubble {
    display: none;
  }
}

/* Medium screen devices (768px and above) */
@media screen and (min-width: 768px) {
}

/* Big screen devices (889px and above) */
@media screen and (min-width: 889px) {
}

/* end of media queries */
